#nav-bar {
  float: right;
}

.header {
  margin-top: 3%;
  max-width: 100%;
  height: auto;
  border: solid gray 3px;
}

ul.show_pix {
  list-style-type: none;
}

li.pic {
  margin: 2%;
}

.btn {
  margin: 2%;
}
